@import "../vendor/normalize";
@import "bourbon/bourbon";
@import "neat/neat";
@import "variables";
@import "grid";

body {
  color: $dark-gray;
  font-family: "Helvetica Neue", Helvetica, sans-serif;

}

.hero {
  width: 100%;

  a.color-swatch {
    width: 100%;
    height: 40vh;
  }
}

header.page-header {
  border-bottom: 1px solid #ccc;
  margin-bottom: 2em;
}

.color-search {
  font-size: 1.5em;

  input[type="text"] {
    padding: .25em;
  }

  input[type="color"] {
    height: 1.9em;
  }

  input[type="submit"] {
    padding: .325em;
  }
}

a.color-swatch {
  text-decoration: none;
  display: inline-block;
  text-align: center;
  width: 6em;
  padding: 1em 0;

  span {
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    text-transform: uppercase;
    font-size: 1.25em;
    line-height: 1.5em;
  }
}

a {
  color: $dark-gray;
}

h1 a {
  text-decoration: none;
}

.error {
  text-align: center;

  h2 { color: red; }
}

.color-container {
  h3 {
    text-transform: uppercase;
  }

  .color-list {
    display: flex;
    flex-flow: row-wrap;

    .color-swatch {
      flex: 1 100%;
    }
  }
}
